body {
    text-align: center;
    background-image: url('/images/background.jpg');
    background-size: 100% 100%;
    background-size: cover;
    /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Ensure the body is at least the height of the viewport */
    margin: 0;
    display: flex;
    flex-direction: column;

}

main {
    /* flex: 1; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
}

/* .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 2rem;
    backdrop-filter: blur(10px);
    max-width: 1200px;
} */

.form-container {
    width: 700px;
    margin: 0 auto;
    border-radius: 8px;

    padding: 20px;
    background-color: transparent;


}




.nav-link {
    color: #000;
    /* Set default text color for nav links */
}

.nav-link:visited {
    color: #000;
    /* Same color for visited links */
}


.nav-link:hover {
    color: white;
    /* Change color on hover */
}

.nav-pills .nav-link.active {

    background-color: transparent;
    /* Replace with your desired color */

}

input[type="submit"] {
    margin: 5px;
}


.form {
    display: inline-block;
    width: 60%;


}

.form ::placeholder {
    color: gray;
}

.form-control {
    background-color: transparent;
    /* Change background to black */
    /* color: white  !important; Text color */
}



textarea {
    resize: none;
}

textarea:focus {
    background-color: transparent !important;
}

h1 {
    font-size: 3rem;
}

input {

    background-color: transparent;
    /* color: white; */
}

input:focus {
    background-color: transparent !important;
    /* Keep transparent when focused */
    color: black;
    /* Ensure the text color stays visible */
    border-color: lightgray;
    /* Optional: Change border color on focus */
}